/* .form-group .ms-TextField-fieldGroup.fieldGroup-153 {
  border: 0;
} */

.ms-BasePicker-text {
  border: 0;
}

.pickerText_4fe0caaf {
  border: 0;

}

#PeoplePickerBorder {
  height: 55%;
}

#buttonGenPass {
  margin-top: 0, 5%;
}

#btnForm {
  height: 5%;
}

#btnFormCancel {
  height: 5%;
}

.ms-Toggle.is-enabled.form-control.root-160 {
  height: 2.9em;
}

button#buttonGenPass {
  margin-left: 1em;
  height: 2.2em;
  width: 8em;
  margin-top: 0.6em;
}


input#fileUploadInput {
  height: 2.9em;
  border: 0;
}

.ms-TextField-fieldGroup {
  border: none;
}

.ms-Toggle.is-enabled.root-163 {
  padding-top: 1em;
}

input#date {
  height: 2.9em;
}

div#id__62 {
  font-weight: 400;
}

#selectteam {
  height: 2.88rem!important;
}

select#selectteam {
  height: 2.88rem!important;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.77rem + 2px);
}

/* .ms-TextField.form-control.root-118 {
  border: none;
} */